@media screen and (max-width: 410px) {
  .logo a {
    width: 55%;
    margin-left: 20%;
  }
  #header {
      width: 115%;
  }
  
  #features {
    padding: 15px;
    width: 108%;
    padding: 15px;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
