@media screen and (max-width: 420px) {
  .logo a {
    width: 55%;
    margin-left: 20%;
  }
  #header {
      width: 100%;
  }
  
  #features {
    width: 100%;
  }
  #features .row {
    padding: 10px;

  } 
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #slider {
    width: 100%;
  }
  
  #footer {
    width: 100%;
  }

  #portfolio {
    width: 100%;
  }
  
}

@media screen and (max-width: 1479px) {
  #contact .container {
    width: 90%;
  }
}

@media screen and (max-width: 380px) {

  #header p {
    padding-left: 10px;
  }
  #features .row  {
    padding: 0px;
  }
  .section-title {
    padding: 0px;
  }
  /* Piste contenant les logos */
.slider-track {
  display: flex;
  width: 200%; /* On double la largeur pour le scroll infini */
  animation: scroll 10s linear infinite;
  padding: 10px;
}
.slide img {
  width: 150px;

}

.slide {
  min-width: none;
}
}


