body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.overlay {
  height: 100vh;
  width: 100%;
}


.logo h1{
  font-family: 'Para', sans-serif;
  font-size: 100px;
  font-weight: 700;
}

.logo p, h1 {
  font-family: 'Para', sans-serif;
  font-size: 20px;
  color: white;
}

.logo h1, p,a{

  display: flex;
  width: 100%;
  justify-content: center;
}

.logo a{
  width: 30%;
 margin-left: 35%;
}

.head {
  background: linear-gradient(to right, #1f3a93, #2ecc71);
}

.page-scroll {
  width: auto;
}

#about img {
  background: linear-gradient(to right, #1f3a93, #2ecc71);
  width: 420px;
  height:420px;
  padding: 20px;
}

.img-responsive {
  width: 100%;
  height: 300;
  object-fit: cover;
}

#contact .container {
  width: 80%;
}

#features {
  padding-top: 90px;
}




/* Conteneur principal */
.slider-container {
  text-align: center;
  background-color: #f3f3f3;
  padding: 30px 0;
  overflow: hidden;
  width: 100%;
}



/* Titre */
.section-title h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Wrapper qui masque le débordement */
.slider-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  min-width: 380%;
}

/* Piste contenant les logos */
.slider-track {
  display: flex;
  width: 300%; /* On double la largeur pour le scroll infini */
  animation: scroll 55s linear infinite;
  padding: 10px;
}

/* Animation de défilement */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Style des logos */
.slide {
  display: flex;
  justify-content: center;
  min-width: 180px;
  padding: 10px;
  height: 120px;
}

.slide img {
  width: 200px;
  height: 110px;
  border: 0.1px rgba(0, 0, 0, 0.616) solid;
  object-fit: contain;
}